body{
	margin: 0;
	background-image: url(fundo.jpg)
	}

.cabecalho{
    width: 80%;
	height: 200px;
	margin: auto;
	}

.cabecalho img{ 
	width: auto;
	height: 100%;
}
.logo{
	height: 100%;
	float: left
	}

.main{
	background-color: #888888;
    width: 80%;
    height: 100%;
	margin: auto;
	padding: 210px 0 ;
	padding-top: 10px;
	overflow: auto
	}

.rodape{
    width: 80%;
	height: 60px;
	margin: auto;
	color: white;
	}

#formulario input[type=text]{
	width: 70%;
	padding: 12px 20px;
	margin: 8 px 0;
	box-sizing: border-box;
	border: 1px solid #555;
	outline: none;
	}

#email input[type=email]{
	width: 70%;
	padding: 12px 20px;
	margin:8 px 0;
	box-sizing: border-box;
	border: 1px solid #555;
	outline: none;
	}

#mensagem textarea{
	width: 70%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	background-color:white;
	}

#selecao select{
	width: 70%;
	padding: 10px 15px;
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #555;
	background-color:white;	
	}
	
#costumizacao {
	font-family: Californian;
	width: 70%;
	}
	
#index {
	
	font-size: 18px;
	font-family: Californian;
		
}

#costumizacao td, #costumizacao th {
	border: 1px solid #ddd;
	padding: 8px;
	}

#costumizacao th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color:Aquamarine  ;
	}

#th,td,table,textarea,h1,p,a,h2,li,ul{
	font-family:Californian;
	}
	
	
h1{
	margin: 0;
	padding: 2%;
	text-align: center;
	}

h2{
	margin: 0;
	text-align: center;
	}
p{
	text-align: justify;
	padding: 0 15%;
	}

a {
	color: black;
	}

.conteudo{
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 2%;
	}

.form{
	width: 85%;
	margin: auto;
	text-align:center;
	}

.curso{
	border: 5px solid;
	border-color: black;
    width: 28%;
    height: 100px;
	float: left;
	margin: 1%;
	}
.curso:hover{
	background-image: url(boton.jpg);
    box-shadow: 5px 10px 8px #333;	
	color: white;
}

h3{
	font-size: 1.1em;
	line-height: 25px;
	text-align: center;
}
.menu{
	padding-top: 154px;
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
	}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #FF9500;
	}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	}

.dropdown-content a:hover {background-color: hsla(191,8%,50%,1.00)}

.dropdown:hover .dropdown-content {
    display: block;
}


.informacoes th {
	background-color: black;
    color: white;
	}

.informacoes {
    width:100%;
	height: 300px;
	padding: 15px;
	text-align: center;
}
.informacoes td {
    border: 1px solid black;
	}

#semestre{
	font-size: 40px;
}

#sidebar ul{
	background-color: #555;
	text-align: center;
	margin: 0 10%;
}





@media only screen and (max-width:890px){

.cabecalho{
    width: 90%;
	}

.logo{
	height: 77%;
	float: inherit;
	}

.menu{
	padding-top: 0px
	}
	
.main{
    width: 90%;
	height: 100%;
	margin:auto;
	}
	
.rodape{
    width: 90%;
	height: 60px;
	}

.curso{
    width: 44%;
	font-size: 14px;
	}

.curso:hover{
	font-size: 18px;
	}

.informacoes {
	margin: auto;
}


@media only screen and (max-width:425px){
.cabecalho{
	width: 100%;
	height: 220px;
	}

.logo{
	width: 100%;
	height: 80%;
	margin: auto;
	}

.menu{
	padding-top: 0px

	}

.main{
    width: 100%;
    height: 100%;
	float: left;
	}

.rodape{
    width: 100%;
	height: 60px;
	float: left;
	}
	
.curso{
	width: 100%;
	float: left;
	}
}

.informacoes{
	width: 10%;
	}
h1{
	margin: 0;
	padding: 2%;
	text-align: center;
	}
p{
	text-align: justify;
	padding: 0 3%;
}
